// ==========================================================================
// # Tod Editor
// ==========================================================================

.tox {
    border: none!important;
}

// Hides Tiny Editor warning for API 
.tox-notification {
    display: none!important;
}

.tox-tinymce {
    border-radius: 0!important;
}